<section class='hero-container'>
<div class='diag-slide'></div>
<div class='diag-slide bg-2'></div>
<div class='diag-slide bg-3'></div>
    <div class='container  relative'>
        <div class='hero-cta'>
            <h1 class='hero-title'>Create your free Invoice Here</h1>
            <p class='hero-subtitle'>No sign up needed. Create a beautiful invoice</p>
            <button class='cta-btn' role='link'><a>Create Invoice</a></button>
            <img class='cta-img' src='/images/invoice_bg.svg' />
        </div>
    </div>
</section>
<section id='why-join' class='relative flex-column flex-center'>
    <div class='container flex-column flex-center'>
       <div class='section-title'>Want more features? Consider creating a <span>PLUS</span> account!</div>
       <ul>
           <li>Simple way to manage and keep track of all your client invoices</li>
           <li>Set your invoices to Paid, or view past due invoices</li>
           <li>Store multiple client information for fast invoice creation</li>
           <li>We will even email the client a copy of your created invoice!</li>
       </ul>
    </div>
</section>

