<div class='hero-container'>

    <div class='container mt-5 relative'>
        <div class='hero-cta'>
            <h1 class='hero-title'>Create your free Invoice Here</h1>
            <p class='hero-subtitle'>No sign up needed. Create a beautiful invoice</p>
            <button class='cta-btn' role='link'><a>Create Invoice</a></button>
            <img class='cta-img' src='/images/invoice_bg.svg' />
        </div>
    </div>
</div>