<section class='hero-container'>
    <div class='diag-slide'></div>
    <div class='diag-slide bg-2'></div>
    <div class='diag-slide bg-3'></div>
    <div class='container  relative'>
        <div class='hero-cta'>
            <h1 class='hero-title'>Create your free Invoice Here</h1>
            <p class='hero-subtitle'>No sign up needed. Create a beautiful invoice</p>
            <button class='cta-btn' role='link'><a>Create Invoice</a></button>
            <img class='cta-img' src='/images/invoice_bg.png' />
        </div>
    </div>
</section>
<section id='why-join' class='relative flex-column flex-center'>
    <div class='container flex-column flex-center'>
        <div class='section-title'>Want more features? Consider creating a <span>PLUS</span> account!</div>
        <ul>
            <li>Simple way to manage and keep track of all your client invoices</li>
            <li>Set your invoices to Paid, or view past due invoices</li>
            <li>Store multiple client information for fast invoice creation</li>
            <li>We will even email the client a copy of your created invoice!</li>
        </ul>
    </div>
</section>
{{!-- <section class='flex-center' id='try-free'>
    <div class='container relative flex-row flex-center'>
        <div class=' flex-column align-left'>
            <div class='section-title text-left'>Try it out for a month free!</div>
            <p class='mb-1'>No credit card info required, just create an account and get started</p>
            <p class="mt-1">Get access to the dashboard and see if this fits your needs!</p>
          
        </div>
        <div class='try-img'>
            <img class='' src='/images/viewing_invoice.svg' />
        </div>
    </div>
</section> --}}

<section class="flex-center flex-column" id='pricing'>
    <div  class='section-title mb-5'>Cost for <span>PLUS</span> accounts</div>
    <div class='container relative flex-row flex-center space-between'>

        <div class='price-card flex-column flex-center relative '>
            <div class='price-card--pricing'>Free</div>
            <div class='flex-column flex-center'>
                <div class='price-card--img'><img height='100' width='100' src='/images/free_icon.svg' /></div>
                <div class='price-card--body text-center'>
                    <div class='price-card--title'>
                        1 Month Trial
                    </div>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                    nulla ex saepe asperiores animi, rem deleniti adipisci repellat sed laudantium ad accusantium modi
                    sapiente? Atque similique ratione vel facilis harum?</p></div>
                <div class='price-card--join text-center'>
                    <button>Try Free</button>
                </div>
            </div>
        </div>

         <div class='price-card flex-column flex-center relative bg-blue'>
            <div class='price-card--pricing'>$7.99</div>
            <div class='flex-column flex-center'>
                <div class='price-card--img'><img height='100' width='100' src='/images/6m_ico.svg' /></div>
                <div class='price-card--body text-center'>  <div class='price-card--title'>
                        6 Months
                    </div>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                    nulla ex saepe asperiores animi, rem deleniti adipisci repellat sed laudantium ad accusantium modi
                    sapiente? Atque similique ratione vel facilis harum?</p></div>
                <div class='price-card--join text-center'>
                    <button>Join Now</button>
                </div>
            </div>
        </div>

         <div class='price-card flex-column flex-center relative '>
            <div class='price-card--pricing'>$12.99</div>
            <div class='flex-column flex-center'>
                <div class='price-card--img'><img height='100' width='100' src='/images/1y_ico.svg' /></div>
                <div class='price-card--body text-center'>  <div class='price-card--title'>
                        1 Year
                    </div>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea
                    nulla ex saepe asperiores animi, rem deleniti adipisci repellat sed laudantium ad accusantium modi
                    sapiente? Atque similique ratione vel facilis harum?</p></div>
                <div class='price-card--join text-center'>
                    <button>Join Now</button>
                </div>
            </div>
        </div>
    </div>
</section>