<!DOCTYPE html>
<html>

<head>
  <title>{{title}} Invoice Maker</title>
  <link rel='stylesheet' href='/stylesheets/watercss.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="format-detection" content="telephone=yes" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta charset="utf-8">
  <meta name="language" content="english">
  <meta http-equiv="content-type" content="text/html">
  <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name=”robots” content=”no-index,no-follow”>
  <meta name="revisit-after" content="7 days">
  <meta name="distribution" content="web">
  <meta name=”robots” content=”noodp”>
</head>

<body class=''>
  <header>
    <nav class="nav">
      <div class='container flex-row space-between'>
        <div class='nav-logo'><img src='/images/logo2.png' alt='invoice maker plus logo'></div>
        <div class="flex-row">
          <button class='nav-btn' role='link'><a>Login</a></button>
          <div class='nav-dropdown-btn'>
            <button aria-label="menu" class='hamb-btn' onclick="showDropdown()">
              <span class='sr-only'>Open Dropdown</span>
              <div class='nav-hamb'></div>
              <div class='nav-hamb'></div>
              <div class='nav-hamb'></div>
            </button>
          </div>
        </div>
      </div>
      <div aria-haspopup="true" aria-expanded="false" tabindex="-1" role="navigation" class='nav-dropdown' >
        <button id='close-nav' aria-label="close" onclick="hideDropdown()">Close</button>
        <ul role='menu'>
          <li><a role='menuitem' href=''>Home</a></li>
          <li><a role='menuitem' href=''>About</a></li>
          <li><a role='menuitem' href=''>Sign Up</a></li>
          <li><a role='menuitem' href=''>Login</a></li>
          <li><a role='menuitem' href=''>Why Join?</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class='my-5'>
    {{{body}}}
  </main>



  {{!-- scripts --}}
  <script src="/javascripts/app.js"></script>
</body>

</html>