<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/watercss.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="language" content="english">
  <meta http-equiv="content-type" content="text/html">
  <meta name="author" content=”Fernando Faria”>
  <meta name="designer" content=”Fernando Faria”>
  <meta name="publisher" content=”Fernando Faria”>
  <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name=”robots” content=”index,follow”>
  <meta name="revisit-after" content="7 days">
  <meta name="distribution" content="web">
  <meta name=”robots” content=”noodp”>
</head>

<body class=''>
  <header>
    <nav class="nav">
      <div class='container flex-row space-between'>
        <div class='nav-logo'>Invoice Maker Plus TEST</div>
        <div class="flex-row">
          <button role='link'><a>Sign Up</a></button>
          <button role='link'><a>Login</a></button>
          <div class='nav-dropdown-btn'>
            <button aria-label="menu" class='hamb-btn'>
              <span class='sr-only'>Open Dropdown</span>
              <div class='nav-hamb'></div>
              <div class='nav-hamb'></div>
              <div class='nav-hamb'></div>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class='my-5'>
    {{{body}}}
  </main>



  {{!-- scripts --}}
  <script src="/javascripts/app.js"></script>
</body>

</html>