body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background: #0b0c10;
}
*{
  box-sizing: border-box;
}

a {
  color: #00b7ff;
}
button {
  margin-bottom: 0;
}

/* Generic styles */
.relative {
  position: relative;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 2rem;
}
.mt-5 {
  margin-top: 3rem;
}

.mb-1{
  margin-bottom: .25rem;
}
.mb-2{
  margin-bottom: .5rem;
}
.mb-3{
  margin-bottom: 1rem;
}
.mb-4{
  margin-bottom: 2rem;
}
.mb-5{
  margin-bottom: 3rem;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1368px;
  margin-left: auto;
  margin-right: auto;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: transparent;
  box-shadow: none;
  transition: background 0.3s, box-shadow 0.3s, padding-top 0.3s, padding-bottom 0.3s, top 0.3s;
}
.hidden {
  /* background: white;
  box-shadow: 0px 1px 10px rgba(144, 144, 144, 0.3);
  padding-top: .75rem;
  padding-bottom: .75rem */
  top: -120px;
}

.nav a:hover {
  text-decoration: none;
}
.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  max-width: 250px;
}
.nav-logo img{
  width: 100%;
}
.nav-btn {
  margin-right: 2rem;
}
.nav button {
  background: #0b0c10;
  border: 1px solid #66fcf1;
}
.nav-btn a {
  color: #cecece;
  font-size: 19px;
}
.hamb-btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;

}
.nav-hamb {
  position: relative;
  width: 19px;
  height: 2px;
  background: #cecece;
  margin: 0.25rem 0;
}
.nav-dropdown {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  z-index: 2;
  display: none;
  opacity: 0;
}
.nav-dropdown ul {
  height: 100%;
  margin: auto;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transform: translateY(30px);
  padding: 0;
}

/* animations */
.nav-visible {
  animation-name: showNav;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.nav-hidden {
  animation-name: hideNav;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.slide-in {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.slide-out {
  animation-name: slideOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes showNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideNav {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}
/* END animations */

#close-nav {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1rem;
  background: transparent;
  border: 1px solid #eee;
  color: #eee;
  cursor: pointer;
  z-index: 3;
}
.nav-dropdown li {
  color: white;
  font-size: calc(3.9vh + 19px);

  padding: 1rem 4rem;
}
.nav-dropdown li:hover a {
  color: rgb(250, 250, 250);
}

.sr-only {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px;
  width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.space-between {
  justify-content: space-between!important;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.text-left {
  text-align: left!important;
}
.text-center {
  text-align: center!important;
}
.text-right {
  text-align: right!important;
}

/* hero */
.hero-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url('/images/bg_blob.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  height: calc(90vh);
  min-height: 950px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.hero-cta {
  width: 55%;
}

.hero-title {
  color: #fdfdfd;
  font-weight: bold;
  font-size: calc(3.8vw + 16px);
  line-height: 1.1;
}
.hero-subtitle {
  color: #c5c6c7;
  font-size: calc(2vw + 16px);
}
.cta-btn {
  font-size: 32px;
  font-weight: bold;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.25);
  border: 1px solid;
  border-color: #66fcf1;
  background: #66fcf1;
}
.cta-btn a {
  color: #0b0c10;
}
.cta-btn a:hover {
  text-decoration: none;
}
.cta-btn:hover {
  background: #0b0c10;
}
.cta-btn:hover a {
  color: #66fcf1;
}
.cta-img {
  position: absolute;
  left: 45vw;
  top: 50%;
  transform: translateY(-50%);
  max-width: 66vw;
}

/* why join */
#why-join {
  position: relative;
  padding: 4rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 650px;
  height: 90vh;
  background: linear-gradient(#1f2833, #0b0c10);
}
#why-join::after{
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('/images/why_join_bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: .15;
}

#why-join ul li {
  font-size: calc(1vw + 16px);
  margin-bottom: 1.5rem;
  color: #a1a1a1e6;
}
.section-title {
  font-size: calc(3.8vw + 16px);
  text-align: center;
  color: #d9d9d9;
  line-height: 1.1;

}
.section-title span {
  display: inline-block;
  color: #66fcf1;
  font-weight: bold;
}
/* try free */
#try-free {
  position: relative;
  padding: 4rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 650px;
  background: linear-gradient(to top,#1f2833, #0b0c10);
}
.try-btn {
  background: red;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  border: 2px solid red;
}
.try-btn a{
  color: white;
}
.try-btn:hover a{
  color: red;
  text-decoration: none;
}
.try-btn:hover{
  background: #0b0c10;
  
}
#try-free p{
  font-size: 26px;
  color:rgb(200, 200, 200);
}

/* pricing */
#pricing {
  position: relative;
  padding: 4rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 650px; 
  height: 90vh;
  background: linear-gradient(to bottom,#1f2833, #0b0c10);
}
.price-card {

  min-height: 475px;
  border-radius: 25% 5px 25% 5px;
  padding: 3rem;
  max-width: calc(25%);
  background: url('/images/red_pricecard.svg'), #f0f0f0 ;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0 .5rem;
  filter:drop-shadow(2px 4px 8px #31313120);

}

.price-card.bg-blue{
  background: url('/images/blue_pricecard.svg'), #f0f0f0;

}

.price-card--pricing{
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: #fff;
  padding: .5rem;
  border-radius: 5px 5px 5px 50%;
  color: #242424;
  font-weight: bold;
  font-size: 22px;
}
.price-card--title {
  font-weight: bold;
  font-size: 26px;
}
.price-card--join button {
  background:#EE7070;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 25px 5px 25px 5px;
}

/* 

background animation
*/
.diag-slide {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(10deg, #080c1b 50%, #141f2e 70%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: absolute;
  right: -50%;
  top: 55%;
  z-index: -1;
  overflow: hidden;
  border-radius: 50% ;
}

.bg-2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg-3 {
  animation-duration: 5s;
}
@keyframes slide {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(25%);
  }
}

@media (max-width: 1468px) {
  .container {
    max-width: 968px;
  }
  .price-card {
    max-width: 33%;
  }
}

@media (max-width: 1168px) {
  .container {
    max-width: 768px;
  }
  .price-card {
    max-width: calc(50% - 2rem);
    margin-bottom: 2rem;
  }
  #pricing .container{
    flex-wrap: wrap;
    justify-content: center!important;
    align-items: center!important;
  }
}

@media (max-width: 968px) {
  .cta-img{
    display: none;
  }
  .hero-cta {
    width: 100%;
    text-align: center;
  }
  .try-img{
    display: none;
  }
  .price-card {
    width: calc(100% - 1rem);
    max-width: 400px;
  }

}

@media (max-width: 768px) {
  .container {
    max-width: calc(90vw - 2rem);
  }
  .hero-container {
    min-height: 70vh;
    padding-top: 5rem;
  }
 .nav-btn {
   display: none;
 }
 .price-card {

  min-width: 320px;
  padding: 1rem;
}

}

@media (max-width: 568px) {
}
